<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo</title>
    <style>
        <!--.comment {-->
            <!--border: 1px red solid;-->
        <!--}-->
    </style>
</head>
<body>
    <div id='id-weibo-main'>
        <input id='id-input-weibo'>
        <button id='id-button-add'>发表新微博</button>
        <div id="id-weibo-list">
        </div>
    </div>
    <script src='/static?file=gua.js'></script>
    <script src='/static?file=weibo.js'></script>
</body>
</html>